.App{
  height: 100vh;
  width: 100%;
}

.SideBar{
  height: 100vh;
  position: fixed;
  max-width: 220px;
}

.content {
  margin-left: 220px;
}

@media (max-width: 767px) {
  .content {
    margin-left: 34px;
  }
}


